:host {
  .comment {
    display: flex;
    margin-top: 30px;
    
    &__line {
      width: 3px;
      border: 0;
      background: var(--tertiary-color);
    }
    &__body {
      margin-left: 20px;
      flex: 1;
      
      &__username {
        font-size: .8em;
        color: var(--primary-color-dark);
      }
      &__content {
        font-size: .9em;
        color: var(--black-color);
      }
      &__actions {
        display: flex;
        flex-flow: row-reverse; 
        flex-flow: wrap;
        
        button:not(:last-child) {
          margin-right: 10px;
        }
        button.liked {
          background-color: var(--tertiary-color);
          color: var(--black-color);
        }
        textarea {
          width: 100%;
          margin-bottom: 10px;
        }
      }
      &__children {
        list-style: none;
        padding-left: 10px;
        li app-post-comment {
          display: block;
          margin-top: -10px;
        }
      }
    }
  }
}