<ng-container *ngFor="let comment of comments">
  <div class="comment">
    <div class="comment__line"></div>
    <div class="comment__body">
      <div class="comment__body__username" (click)="showModalUserInfo(comment?.author?.id!)">
        {{comment.author.username || ''}} - {{comment.timestamp | date: 'd MMM y, \'às\' h\'h\'mm'}}
      </div>
      <div class="comment__body__content">{{comment.content || ''}}</div>
      <div class="comment__body__actions">
        <ng-container 
          *ngTemplateOutlet="comment.isTyping ? answerOpened : answerClosed;
          context: { $implicit: comment }">
        </ng-container>
      </div>
      <ul *ngIf="comment.comments?.length" class="comment__body__children">
        <li>
          <app-post-comment [comments]="comment.comments!"></app-post-comment>
        </li>
      </ul>
    </div>
  </div>
</ng-container>

<ng-template #answerClosed let-comment>
  <button class="secondary" (click)="like(comment.id)" [ngClass]="{'liked': !!comment.likes}">
    Curtir {{comment.likes || ''}}
  </button>
  <button class="primary" (click)="answerToggle(comment.id)">Responder</button>
</ng-template>

<ng-template #answerOpened let-comment>
  <textarea rows="3" #textAreaInput></textarea>
  <button class="secondary" (click)="cancel(comment.id)">Cancelar</button>
  <button class="primary" (click)="confirm({ respondTo: comment.id, text: textAreaInput.value })">
    Publicar
  </button>
</ng-template>