<ng-container *ngIf="comment">
  <div class="comment">
    <div class="comment__line"></div>
    <div class="comment__body">
      <div class="comment__body__username">
        {{comment.author.username}} - {{comment.timestamp | date}}
      </div>
      <div class="comment__body__content">{{comment.content}}</div>
      <div class="comment__body__actions">
        <button class="primary">Responder</button>
        <button class="secondary">Curtir</button>
      </div>
    </div>
  </div>
</ng-container>