@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto-Regular.ttf) format("truetype");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  background: #fff;
}

.container {
  width: 100%;
  padding: 0 10px;
}

@media (min-width: 860px) {
  .container {
    width: 850px;
    margin: 0 auto;
    padding: 0;
  }
}

img {
  width: 100%;
}

li {
  list-style: none;
}

button {
  padding: 8px;
  border-radius: 6px;
  border: 0;
  outline: none;
  box-shadow: 1px 1px 1px #eee;
}

button:hover {
  cursor: pointer;
  filter: brightness(120%);
}

button.primary {
  background: var(--primary-color);
  color: var(--primary-color-contrast);
}

button.secondary {
  background: var(--secondary-color);
  color: var(--white-color);
}

.text-crop {
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow:ellipsis; 
}