@use "../assets/theme.css";

$primary-color: #03A9F4;
$primary-color-contrast: #ffffff;
$primary-color-dark: #017DB5;

$secondary-color: #939393;

$tertiary-color: #FF9B52;

$black-color: #000000;
$white-color: #ffffff;

:root {
  --primary-color: #{$primary-color};
  --primary-color-contrast: #{$primary-color-contrast};
  --primary-color-dark: #{$primary-color-dark};
  --secondary-color: #{$secondary-color};
  --tertiary-color: #{$tertiary-color};
  --black-color: #{$black-color};
  --white-color: #{$white-color};
}
